* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Gilroy";
	font-size: 20px;
}

:root {
	--primary-black: #111111;
	--accent-black: #2b2b2b;
	--primary-white: #fff;
	--accent-white: #edecea;
	--gray: #bebdbc;
	--input-bg: #f5f5f5;
	--dark-border: 1px solid #474747;
	--light-border: 1px solid var(--gray);
	--white-border: 1px solid var(--accent-white);
	--heading-family: "Bebas Neue Cyrillic";
	--main-family: "Gilroy";

	--radius-xs: 10px;
	--radius-lg: 20px;
}

a {
	text-decoration: none;
	color: inherit;
}

li {
	list-style-type: none;
}

.container-2xl {
	max-width: 1840px;
	margin: 0 auto;
}

.button {
	border-radius: var(--radius-xs);
	font-weight: 500;
	border: none;
}

.heading {
	font-size: 64px;
	font-weight: 400;
	font-family: var(--heading-family);
}

.main__container {
	max-width: 1300px;
	margin: 0 auto;
}

.white-wrapper {
	background: var(--accent-white);
}

.black-button {
	background: var(--primary-black);
	color: var(--primary-white);
}

.card {
	border-radius: var(--radius-lg);
}

.price {
	font-size: 32px;
	font-weight: 600;
}

.tag {
	display: inline-block;
	border-radius: var(--radius-xs);
	background: var(--accent-white);
	font-weight: 500;
	padding: 10px 20px 10px 20px;
}

.white-card {
	display: flex;
	flex-direction: column;
}

.input {
	border-radius: var(--radius-xs);
	border: none;
}

.input::placeholder {
	color: #969696;
}
