* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Gilroy";
}

:root {
	--primary-black: #111111;
	--accent-black: #2b2b2b;
	--primary-white: #fff;
	--accent-white: #edecea;
  --gray: #BEBDBC;
	--dark-border: 1px solid #474747;
	--light-border: 1px solid var(--gray);

	--heading-family: "Bebas Neue Cyrillic";
	--main-family: "Gilroy";

	--radius-xs: 10px;
	--radius-lg: 20px;
}

a {
	text-decoration: none;
	color: inherit;
}

li {
	list-style-type: none;
}

.container-2xl {
	max-width: 1840px;
	margin: 0 auto;
}

.button {
	border-radius: var(--radius-xs);
	font-size: 20px;
	font-weight: 500;
}

.heading {
	font-size: 64px;
	font-weight: 400;
	font-family: var(--heading-family);
}

.main__container {
	max-width: 1300px;
	margin: 0 auto;
}

.white-wrapper {
  background: var(--accent-white);
}

.card {
  border-radius: var(--radius-lg);
}